<!-- <ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > <ion-img class="logo-title" src="assets/icon/cramspotlogo.png"></ion-img> </ion-title>
    
  </ion-toolbar>
</ion-header> -->



<ion-content >
  <div class="bg-img"  >
      <br>
      <ion-buttons slot="start" >
        <ion-menu-button style="color:white"></ion-menu-button>
      </ion-buttons>
      <br>
      <br>
      <h1 text-center style="color:white; ">How it works</h1>
      
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>

  <p padding style=" font-size: 18px;color: #74706a;" text-center>Cramspot helps you find, list or manage your workspaces and study area. 
    What would you like to learn about?</p>
  
  <div padding text-center>
    <ion-img  src="assets/img/find-workspace.jpg"></ion-img>
    <h3 text-center>Find workspace</h3>
    <a (click)="alertFind()" style="color:#903d62; font-size: 13px; text-decoration: none">Learn about finding best place to work and study<ion-icon name="arrow-forward"></ion-icon></a>
    <br>
    <br>
    <ion-img  src="assets/img/list-workspace.jpg"></ion-img>
    <h3 text-center>List workspace</h3>
    <a  (click)="alertList()" style="color:#903d62; font-size: 13px; text-decoration: none">Learn about listing your workspace<ion-icon name="arrow-forward"></ion-icon></a>
    <br>
    <br>
  </div>
  <div padding text-center style="background-color:#f5f5f5">
    <h5>Need help? Contact us anytime!</h5>
    <ion-button  color="main"   shape="round">Contact Us</ion-button>
  </div>
    

</ion-content>