<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cramspot Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="https://images.steelcase.com/image/upload/c_fill,dpr_auto,q_70,h_656,w_1166/v1432747782/www.steelcase.com/Tour.jpg"></ion-img>
 
  <div padding>
      <div style=" border-bottom:.5px lightgray solid;">
        <h1 class="padding" style="font-weight:bold "> Space Name</h1>
        <h5>₱ <span>120</span>/ <span>day</span></h5>
        <p class="padding"> This is a sample description of a Workspace.</p>
        <p><ion-icon name="people"></ion-icon> 5 people</p>
        <p><ion-icon name="cube"></ion-icon> 3 desk</p>
      </div>
      <div Text-Capitalize style="border-bottom:.5px lightgray solid; ">
          <h5 class="padding"> Amenities</h5>
          <p>wifi, computer, coffee</p>
      </div>
      <div Text-Capitalize style="border-bottom:.5px lightgray solid; ">
          <h5 class="padding"> The Location</h5>
          <p>Olongapo City, Zambales</p>
          <p style="font-size:12px;color:#903d62">Exact location provided after booking</p>
      </div>

      <div  style="border-bottom:.5px lightgray solid; ">
        <ion-grid>
          <ion-row>
            <ion-col size="6"><h5 no-margin> Opening time</h5></ion-col>
            <ion-col size="6"><h5 no-margin> 8:00am</h5></ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="6"><h5 no-margin> Closing time</h5></ion-col>
              <ion-col size="6"><h5 no-margin> 5:00pm</h5></ion-col>
            </ion-row>
        </ion-grid>
          
         
          
      </div>
      <ion-button padding color="main" expand="block" shape="round">Check Availability</ion-button>
  </div>
  
 
</ion-content>

