<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Reservation Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4 class="padding"> <span>Name</span>, your reservation is confirmed!</h4>
  <p class="padding">The details of your reservation are below. 
    Feel free to message your host if you have any questions.</p>

    <ion-img src="https://images.steelcase.com/image/upload/c_fill,dpr_auto,q_70,h_656,w_1166/v1432747782/www.steelcase.com/Tour.jpg"></ion-img>
  <div text-center style="border-bottom:.5px lightgray solid;">
    <br>
    <p  style="font-size: smaller;">RESERVATION DETAILS</p>
    <p class="padding" style="font-weight:bold">Conference Room</p>
    <p class="padding" style="color:rgb(144, 61, 96); font-weight:bold;"> 1055 West 7th Street, 33rd Floor, Los Angeles, CA, 90017</p>
    <p class="padding">Dec 10, 2018, 1:30 PM</p>
  </div>
  <div text-center style="border-bottom:.5px lightgray solid;">
    <br>
    <p  style="font-size: smaller;">PAYMENT</p>
    <p class="padding" >Workspace amount : ₱ <span>200.00</span> </p>
    <p class="padding" >Reservation amount : ₱ <span>50.00</span></p>
  </div>
  <div text-center style="border-bottom:.5px lightgray solid;">
    <br>
    <p style="font-size: smaller;">HOST CONTACT DETAILS</p>
  
      <ion-avatar style="margin: auto;">
        <img  src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/301568_246009192116033_1249278158_n.jpg?_nc_cat=110&_nc_ht=scontent.fcrk1-1.fna&oh=9910399903f206d278184e689e6be82f&oe=5C64C425">
      </ion-avatar>
 
    <p class="padding" style="font-weight:bold">Virgilio Legaspi </p>
    <p class="padding" >zylegaspi@gmail.com</p>
    <p class="padding" >09123456789</p>
  </div>
  <ion-button href="/home" padding color="main" expand="block" shape="round">Okay</ion-button>
 
</ion-content>

