<!-- <ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > <ion-img class="logo-title" src="assets/icon/cramspotlogo.png"></ion-img> </ion-title>
    
  </ion-toolbar>
</ion-header> -->



<ion-content >
  <div class="bg-img"  >
      <br>
      <ion-buttons slot="start" >
        <ion-menu-button style="color:white"></ion-menu-button>
      </ion-buttons>
      <br>
      <br>
      <h1 text-center style="color:white; ">Contact Us</h1>
      
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>

  <p padding style=" font-size: 18px;color: #74706a;" text-center>
  Need help? Don't hesitate to send us a message.
  </p>
  
  <div padding>

      <ion-label position="stacked">Your Email</ion-label>
      <ion-item class="input-style">
          <ion-input clearInput  name="email" required></ion-input>
      </ion-item>  
<br>
      <ion-label position="stacked">Message</ion-label>
      <ion-item class="input-style">
          <ion-textarea placeholder="Enter your questions and suggestion here..."></ion-textarea>
      </ion-item>   
    
      <br>
    <ion-button  color="main" href="/contactus"  shape="round">Send</ion-button>
  </div>
    

</ion-content>