<!-- <ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > <ion-img class="logo-title" src="assets/icon/cramspotlogo.png"></ion-img> </ion-title>
    
  </ion-toolbar>
</ion-header> -->



<ion-content >
  <div class="bg-img"  >
      <br>
      <ion-buttons slot="start" >
        <ion-menu-button style="color:white"></ion-menu-button>
      </ion-buttons>
      <br>
      <br>
      <h1 text-center style="color:white; ">About</h1>
      
      <br>
      <br>
      <br>
      <br>
      <br>
  </div>
  <br>
  <h1 text-center style="color: #74706a;">
    What is this all about?
  </h1>

  <p padding style=" font-size: 18px;color: #74706a;">
    Cramspot is a platform for finding a workspace that suits to your needs.
    It is an application which help student to find a 
    place where they can rent a workspace and study area to do their group projects.

    <br>
    <br>
    Search hundreds of  workspaces and 
    studyareas available to find the perfect venue to suit 
    your needs anytime, anywhere.

    <br>
    <br>
    Beautifully showcase your own studyarea and workspace, market your services to our application, 
    and rent out available rooms, desks, and collaborative spaces. 
    Advertise your venue, increase your drop-in bookings, and attract new clients.


  </p>
  
  
    

</ion-content>